* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#accordionMenu {
  display: none;
}

header {
  width: 100%;
  padding: 12px 0;
  background-color: #bea574;
  position: fixed;
  z-index: 10;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  padding: 12px 0;
  background-color: #bea574;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header_content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100px;
}

.menu_content {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  color: #fff;
  font-size: 16px;
}

/* ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰ */
.hamburger_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  cursor: pointer;
  gap: 6px;
  display: none;
}

.hamburger_line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in;
}

.hamburger_content.open .hamburger_line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger_content.open .hamburger_line:nth-child(2) {
  opacity: 0;
}

.hamburger_content.open .hamburger_line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* ----- カルーセル ----- */
.swiper {
  width: 100%;
  aspect-ratio: 20 / 8;
  margin-bottom: 80px;
  position: absolute;
  top: 69px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  left: 2% !important;
}

.swiper-button-next {
  right: 2% !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 60px !important;
  height: 60px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #bea574 !important;
  width: 16px !important;
  height: 16px !important;
  margin: 0 6px !important;
}

/* ----- キャッチコピー ----- */
.catchphrase {
  text-align: center;
  margin-bottom: 20px;
}

.catchphrase p {
  font-weight: bold;
  font-size: 24px;
}

.catchphrase span {
  font-weight: bold;
  font-size: 60px;
  color: red;
}

/* ----- スケジュール ----- */
.schedule_content {
  width: 900px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 12px;
}

.schedule_date_detail_content {
  box-shadow: 0px 4px 4px 4px rgb(204, 204, 204);
  margin-bottom: 40px;
}

.schedule_date_content {
  display: flex;
  border-bottom: solid 2px #bea574;
}

.schedule_date_content p {
  background-color: rgb(235, 233, 233);
  width: 300px;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  color: rgb(78, 77, 77);
}

.schedule_date_content p:hover {
  opacity: 0.5;
}

.schedule_date_content p.active {
  background-color: #bea574;
  color: #fff;
}

.schedule_date_content p:nth-child(2) {
  border-left: solid 2px rgb(228, 226, 226);
  border-right: solid 2px rgb(228, 226, 226);
}

.schedule_detail.hidden {
  display: none;
}

.schedule_detail {
  padding: 20px;
}

/* ----- アクセス ----- */
.address {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

iframe {
  width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;
  border: none;
  margin-bottom: 40px;
}

/* ----- 席予約 ----- */

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

form label {
  font-weight: bold;
  margin-top: 8px;
}

form span {
  color: red;
  font-size: 10px;
  margin-left: 6px;
}

form span.optional_text {
  color: gray;
  font-size: 10px;
  margin-left: 6px;
}

form input {
  width: 368px;
  padding: 14px;
  font-size: 16px;
}

form select,
form input[type="submit"] {
  width: 400px;
  padding: 14px;
  font-size: 16px;
}

.tel_form {
  margin-bottom: 10px;
}

.email_message,
.tel_message {
  color: red;
  font-size: 12px;
  margin-bottom: 6px;
  display: none;
}

.check_content {
  background-color: aquamarine;
  margin: 0 auto;
  margin-top: 69px;
  width: 800px;
  
}

@media screen and (max-width: 950px) {
  .schedule_content {
    width: 700px;
  }
}

@media screen and (max-width: 750px) {
  .schedule_content {
    width: 500px;
  }
}

@media screen and (max-width: 580px) {
  #accordionMenu {
    background-color: #bea574;
    position: fixed;
    top: 69px;
    width: 100%;
    flex-flow: column;
    text-align: center;
    z-index: 10;
  }

  #accordionMenu li {
    width: 100%;
  }

  #accordionMenu a {
    padding: 12px 0;
    display: block;
    font-weight: bold;
    border-bottom: solid 1px #fff;
  }

  #accordionMenu li:first-child {
    border-top: solid 1px #fff;
  }

  .menu_content {
    display: none;
  }

  .hamburger_content {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .schedule_content {
    width: 300px;
  }
  form {
    width: 300px;
  }

  form input {
    width: 268px;
  }

  form select,
  form input[type="submit"] {
    width: 300px;
  }
}
